body{
    background: black;
}

img{
    border: 10px solid white;
    margin: auto;
    display: block;
    margin-top: 100px;
}

.word{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}